* body {
  margin: 0;
  padding: 0;
}
/*estilo del cuerpo para el formulario*/

/*Estilo del formilario*/
.form-container {
    background-color: rgba(255, 255, 255, 0.6); /* Fondo semi-transparente */   
    border: 5px solid #6d88c3;
    padding: 20px;
    border-radius: 10px;
    width: 800px; /* Ancho del marco */
    margin: auto; /* Centrar horizontalmente */
    box-shadow: 0px 0px 15px rgba(37, 78, 155, 0.447);
        }
  input[type="text"] {
    width: 500px; /* Puedes ajustar este valor según tus necesidades */
  }
   input[type="email"] {
    width: 400px; /* Puedes ajustar este valor según tus necesidades */
  }
  
    h2 {
    text-align: center;
  }
   #telefono {
    width: 300px;
  }
  .form-group{
      margin-left: 20px;
  }