body {
            font-family: Arial, sans-serif;
            margin: 50;
            padding: 50;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px 0;
        }

        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }

        h1, h2 {
            color: #6d88c3;
        }

        select, input[type="text"], input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            border: 5px solid #6d88c3;
            margin-top: rigth;
            background-color: rgba(255, 255, 255, 0.6); /* Fondo semi-transparente */  
            box-shadow: 0px 0px 15px rgba(37, 78, 155, 0.447);
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #333;
        }

        a:hover {
            text-decoration: underline;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-secondary {
            background-color: skyblue;
        }
        