<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Perfil Profesional</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/styleProfesionalPerfil.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <div>
            <h1>Perfil del Profesional</h1>
            <p>Nombre: <span th:text="${paciente.nombre}"></span></p>
            <p>Apellido: <span th:text="${paciente.apellido}"></span></p>
            <p>Fecha de Nacimiento: <span th:text="${paciente.fechaNacimiento}"></span></p>
            <p>DNI: <span th:text="${paciente.dni}"></span></p>
            <p>Teléfono: <span th:text="${paciente.telefono}"></span></p>
            <p>Email: <span th:text="${paciente.email}"></span></p>
            <p>Imagen: </p>
            <div class="img">
                <a th:if="${paciente.imagen != null}" th:href="@{/imagen/perfil/__${paciente.id}__}">
                    <img th:style="'width: 50%; margin: auto; height: auto; padding: 10px 15px;'" th:src="@{/imagen/perfil/__${paciente.id}__}">
                </a>
            </div>
            

        </div>

    </body>
</html>
