<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Pacientes</title>
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a th:href="@{/}">Medifour</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
        </header>
        <!-- End Header -->
        <h1>Lista de Pacientes</h1>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.nombre}"></td>
                <td th:text="${paciente.apellido}"></td>
                  
                <td>
                    <form th:action="@{/paciente/bajaPaciente/{id}(id=${paciente.id})}" method="get">
                        <input type="submit" value="Dar de Baja">
                    </form>
                </td>
          
            </tr>
        </table>
    </body>
</html>



