
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Registrar Profesional</title>
</head>
<body>
    <h1>Registrar Profesional</h1>
    <!-- Formulario para registrar un profesional -->
    <form th:action ="@{/profesional/registro}" method="POST">
        <label for="matricula">Matrícula:</label>
        <input type="number" id="matricula" name="matricula" placeholder="Matricula"><br>

        <label for="especialidad">Especialidad:</label>
        <input type="text" id="especialidad" name="especialidad" placeholder="ESpecialidad"><br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre"><br>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" placeholder="Apellido"><br>

        <label for="añosExperiencia">Años de Experiencia:</label>
        <input type="number" id="añosExperiencia" name="añosExperiencia" placeholder="Años de Experiencia"><br>

        <label for="datosDeContacto">Datos de Contacto:</label>
        <input type="text" id="datosDeContacto" name="datosDeContacto" placeholder="Datos de Contacto"><br>

        <label for="horariosDisponibles">Horarios Disponibles:</label>
        <input type="number" id="horariosDisponibles" name="horariosDisponibles" placeholder="Horario Disponible"><br>

        <label for="agenda">Agenda:</label>
        <input type="date" id="agenda" name="agenda" placeholder="Agenda"><br>

        <input type="submit" value="Registrar">
    </form>

    <!-- Mostrar mensajes de éxito o error -->
    <p th:text="${exito}"></p>
    <p th:text="${error}"></p>

    <!-- Enlace para mostrar la lista de profesionales -->
    <a href="/profesional/mostrarProfesionales">Mostrar Profesionales</a>
</body>
</html>