<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        <link href="/assets/img/favicon.png" rel="icon">
        <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
        
    <title>Document</title>
    <style>
        body {
            background-image: url('assets/img/fondo-login.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .container {
            background-color: rgba(5, 13, 249, 0.8);
            padding: 20px;
            border-radius: 10px;
            margin-top: 100px;
        }
    </style>
</head>

<body>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Medifour</a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Especialidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Doctores</a>
              </li>
          </ul>
        </nav>
        
        <div class="container mt-4" style="width: 40rem;">
            
            
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/img/icono-paciente.jpg" style="width: 50 rem; margin-top: 100px;" class="card-img-top" alt="Icono-Paciente">
                        <div class="card-body">
                            <h5 class="card-title">Usuario Paciente</h5>
                            <p class="card-text">Selecciona esta opcion si eres un nuevo paciente.</p>
                            <a th:href="@{/paciente/registrar-form}" class="btn btn-primary">Registrarse</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/img/Icono-Profesional.png" style="width: 10 rem;" class="card-img-top" alt="Icono-Profesional">
                        <div class="card-body">
                            <h5 class="card-title">Profesional - Medico</h5>
                            <p class="card-text">Selecciona esta opcion si eres un nuevo profesional.</p>
                            <a th:href="@{/profesional/registrar-form}" class="btn btn-primary">Registrarse</a>
                        </div>
                    </div>
                </div>
              </div>
            
        </div>
        </div>

        
    




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>